@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1D1D1B;
  --font-inter: "Inter", sans-serif;
  --font-jetBrains_mono: "JetBrains Mono", sans-serif;
}

@theme {
  /* --color-*: initial; */
  --color-primario: #1D1D1B;
  --color-secundario: #212A52;
  --color-terciario: #E8E3DE;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-jetBrains_mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jetBrains_mono), Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
  flex-shrink: 0;
  min-width: 100%;
}
